
<%@products.each do |f|%>
<div class="card-body">
  <h5 class="card-title"><%= f.name %></h5>
  <p class="card-text"><%= f.price %></p>
  <%#debugger%>
  <a href="View_product"><%= link_to "viewproduct",category_product_path(f.category_id,f.id)%></a>
  
  <%#= link_to 'remove',category_product_path(f.category_id,f.id), data: { "turbo-method": :delete } %>
  <%= button_to 'remove',category_product_path(f.category_id,f.id), method: :delete %>
  <%= button_to 'update', edit_category_product_path( f.category_id,id: f.id), method: :get %>
</div>
<%end%>