<div class="row m-0">
	<div class="card col-lg-3">
		<div class="card-body">
			<img src="https://img.freepik.com/free-vector/set-different-home-appliances-kit-electric-house-equipment-collection-flat-horizontal-copy-space_48369-26076.jpg?w=826" style="width: 370px;height: 145px;" alt="...">
	     <%= link_to "Electronics",product_by_category_category_path(id: 1),method: :GET %>
		</div>
	</div>
	<div class="card col-lg-3">
		<div class="card-body">
			<img src="https://img.freepik.com/free-photo/happy-lady-stylish-skirt-boater-posing-pink-wall_197531-23653.jpg?t=st=1652340509~exp=1652341109~hmac=49b8ff401b1250b183dd3d3c450ff2c68cab239fe5bcaf4f0bcdf3cac90a5bc9&w=740" style="width: 370px;height: 145px;" alt="...">
			<%= link_to "Fashions",product_by_category_category_path(id: 3),method: :GET  %>
		</div>
	</div>
	<div class="card col-lg-3">
		<div class="card-body">
			<img src="https://img.freepik.com/free-vector/realistic-smartphone-official-colors_52683-51019.jpg?t=st=1652344269~exp=1652344869~hmac=44d8d6f45f22578721bcca3e6730aa8583475bb2e9903be4e412807f1414f18e&w=740" style="width: 370px;height: 145px;" alt="...">
	     <%= link_to "Mobiles",product_by_category_category_path(id: 6),method: :GET %>
		</div>
	</div>
	<div class="card col-lg-3">
		<div class="card-body">
			<img src="https://img.freepik.com/free-photo/brown-sofa-wooden-table-living-room-interior-with-plant-concrete-wall_41470-3721.jpg?t=st=1652344510~exp=1652345110~hmac=6da7ea0b60976c3d65250594a95df2203a37a42f9a5da55ef8d5955d366b199b&w=740" style="width: 370px;height: 145px;" alt="...">
	     <%= link_to "furniture",product_by_category_category_path(id: 7),method: :GET %>
		</div>
	</div>
	
</div>

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://img.freepik.com/free-vector/household-appliances-realistic-composition_1284-65307.jpg?t=st=1652340225~exp=1652340825~hmac=13dc890807bb98829f1a66e404c8e877c594c9f5ac3df35c9bd56c85ef996fde&w=740" style="width: 25px;height: 370px;" class="d-block w-100" alt="...">
    </div>

    <div class="carousel-item active" data-bs-interval="10000">
      <img src="https://img.freepik.com/free-photo/brown-sofa-wooden-table-living-room-interior-with-plant-concrete-wall_41470-3721.jpg?t=st=1652344510~exp=1652345110~hmac=6da7ea0b60976c3d65250594a95df2203a37a42f9a5da55ef8d5955d366b199b&w=740" style="width: 25px;height: 370px;" class="d-block w-100" alt="...">
    </div>
    
    <div class="carousel-item">
      <img src="https://img.freepik.com/free-vector/set-different-home-appliances-kit-electric-house-equipment-collection-flat-horizontal-copy-space_48369-26076.jpg?w=826" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<%= render partial: "shared/product", locals: {product: @products}  %>
