<style type="text/css">
  .search-form input{
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 8px;
  }
  .search-form form{
    display: flex;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  &nbsp;&nbsp;&nbsp;&nbsp;
  <div class="container-fluid">
    <a class="navbar-brand">
    <%= link_to root_path do %>
      <img src="https://1000logos.net/wp-content/uploads/2021/02/Flipkart-logo.png" style="width: 70px;height: 38px;" >
      <%end%>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item search-form">
          <!-- <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> -->
          <%=form_tag search_path, :method => 'get' do %>
          <%= text_field_tag :search, params[:search] %>
          <%= button_to "Search", :name => nil %>
          <% end %>

        </li>&nbsp;&nbsp;&nbsp;&nbsp;

        <%if !Current.user.nil?%> 
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              More
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            	<li><%#= link_to 'Edit password', "#",class: "dropdown-item" %></li>
              <% @user = User.find(Current.user.id)%>
            	<li><a class="dropdown-item" href="<%= edit_password_path(@user.id) %>" >Edit password</a></li>
              <li><a class="dropdown-item" href="<%= carts_path%>">cart</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= button_to 'Logout', session_path(@user.id), method: :delete, class: "dropdown-item" %></li>
            </ul>
          </li>

          <!-- <li class="nav-item">
            <a class="nav-link " href="#" tabindex="-1" >Login_as: <%#= Current.user.email %></a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link " href="<%= carts_path %>" tabindex="-1" >Cart</a>
          </li>
        <%else%>   
          <%= link_to 'Login', new_session_path %>
        <%end%>

         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li class="nav-item">
      <%if !Current.user.nil?%>
      <%user = Current.user%>
      <%role = user.roles.collect(&:name)%>
       <% unless role.include?("Seller")%>         
      <%= button_to 'Become a seller', set_seller_path, method: :post, class: "btn btn-sm btn-primary" %></li>&nbsp;&nbsp;&nbsp;
      <%end%>
      <% if role.include?("Seller")%>         
      <%= link_to 'my_products', seller_product_path%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li><%= button_to 'Add Products', categories_path, method: :get, class: "btn btn-sm btn-primary"%></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%end%>
    <%end%>
      
      <%if !Current.user.nil?%>
      
      <li class="nav-item" style="margin-left: 487px;">
          <a class="nav-link " href="<%= show_user_registration_path(id: Current.user.id)%>" tabindex="-1" >Login_as: <%= Current.user.email %></a>
      </li>
      <%end%>
      
      
      </ul>
      <%#= link_to "Admin_user", "new_admin_user_path" ,class: "btn btn-sm btn-primary"%>
    </div>
  </div>
</nav>


